* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #5ce2ec;
  --primary-200: #0be2f1;
  --primary-300: #0be2f177;
  --secondary: #f1f13a;
  --secondary2: #d7ff7ade;
  --light: #f7fff2;
  --dark: #262924;
}

::selection {
  background-color: var(--light);
  color: var(--primary-200);
  text-shadow: none;
}

html,
body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 100%;
  background-color: var(--dark);
  color: var(--light);
  scroll-behavior: smooth;

  --body-xs: 0.8rem;
  --body-sm: 1.2rem;
  --body-md: 1.8rem; /* Tamaño base del texto */
  --body-lg: 1.7rem;

  --h-sm: 2.5rem;
  --h-md: 4rem;
  --h-lg: 7rem;
}

@media (max-width: 550px) {
  body {
    --body-sm: 1.1rem;
    --body-md: 1.5rem;
    --h-sm: 1.7rem;
    --h-md: 2rem;
  }
}

p,
button {
  font: inherit;
  font-size: var(--body-md);
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

p {
  line-height: 1.5;
  font-weight: 600;
}



h1,
h2,
h3 {
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: var(--primary-200);
}

hr {
	width: 50%;
	margin: 0 auto;
	border: none;
	border-top: 1px solid #444;
}

@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}

